*,
*::before,
*::after {
      box-sizing: border-box;
      /* outline : 1px solid red; */
}

:root {

      --primary-font1: "Fraunces";
      --primary-font2: "Carrois Gothic SC";
      --padding-space: 20px;
      --text-medium: 16px;
      --text-large: 24px;
      --text-title: 32px;
}

/*  -------------------------- */
/*  Caractéristiques générales */
/*  -------------------------- */

body {
      min-height: 100vh;
      width: 100%;
      font-family: var(--primary-font2);
      display: flex;
      flex-direction: column;
}


/*  ------------------------------------ */
/* Caractéristiques du contenu principal */
/*  ------------------------------------ */

main {
      background-color: white;
      /* background-image: url("../img/background.jpg"); */
}

h1 {
      padding: var(--padding-space);
      padding-left: 200px;
      font-weight: bold;
      font-size: var(--text-title);
      text-shadow: #555555;
}

.hidden {
      visibility: collapse;
}

/*  --------------------------------- */
/*  Caractéristiques des planètes !!! */
/*  --------------------------------- */

.planets {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
}


.earth {
      background-color: aliceblue;
      background-image: url('../img/earth.png');
      width: 600px;
      object-position: center;
      padding: var(--padding-space);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
}
.earth > form > * {
      padding: var(--padding-space);
}

.moon {
      background-color: beige;
      background-image: url('../img/moon.png');
      width: 900px;
      padding: var(--padding-space);
      display: flex;
      justify-content: center;
      flex-direction: column;
}

/* --------------------------------- */
/* Caractéristiques des COMMENTAIRES */
/* --------------------------------- */

.info {
      text-decoration: underline 2px black;
      font-family: var(--primary-font1);
      font-weight: 500;
      font-size: 24px;

}

.dateComment {
      font-size: 18px;
}


p {
      line-height: 1.5em;
      font-size: 16px;
}


/*  -------------------------- */
/*  Caractéristiques du FOOTER */
/*  -------------------------- */

footer {
      background-color: lightcoral;
      width: 100%;
      height: 50px;
      position: absolute;
      bottom: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
}

a {
      color: white;
      text-decoration: none;
}

a:hover {
      color: gold;
      text-decoration: wavy;
}

.linkGithub {
      display: flex;
      justify-content: center;
      align-self: center;
}

.iconFooter {
      height: 40px;
}