*,
*::before,
*::after {
      box-sizing: border-box;
      /* outline : 1px solid red; */
}

:root {
      /* Déterminer des couleurs, oopa */

      --primary-font1: "Dr Sugiyama";
      --primary-font2: "Carrois Gothic SC";
      --padding-space: 20px;
      --text-medium: 16px;
      --text-large: 24px;
      --text-title: 32px;
}

/*  -------------------------- */
/*  Caractéristiques générales */
/*  -------------------------- */

body {
      min-height: 100vh;
      width: 100%;
      font-family: var(--primary-font2);
      display: flex;
      flex-direction: column;
}


/*  ------------------------------------ */
/* Caractéristiques du contenu principal */
/*  ------------------------------------ */

main {
      background-color: #ffffff;
      /* background-image: url("../img/background.jpg"); */
      /* color: white; */
      padding: 100px;

}

h1 {
      padding: var(--padding-space);
      font-weight: bold;
      font-size: var(--text-title);
      text-shadow: #555555;
}

.hidden {
      visibility: collapse;
}

/*  --------------------------------- */
/*  Caractéristiques des planètes !!! */
/*  --------------------------------- */

.planets {
      display: flex;
      flex-direction: row;
      justify-content: center;
}


.earth {
      background-color: aliceblue;
      width: 50%;
      padding: var(--padding-space);
      display: flex;
      justify-content: center;
      flex-direction: column;
}

.moon {
      background-color: beige;
      width: 50%;
      padding: var(--padding-space);
      display: flex;
      justify-content: center;
      flex-direction: column;
}

/* --------------------------------- */
/* Caractéristiques des COMMENTAIRES */
/* --------------------------------- */

.info {
      text-decoration: underline 2px black;
      font-family: var(--primary-font1);
      font-weight: 500;
      font-size: 36px;

}

p {
      line-height: 2em;
      font-size: 24px;
}


/*  -------------------------- */
/*  Caractéristiques du FOOTER */
/*  -------------------------- */

footer {
      background-color: gray;
      height: 50px;
      margin-top: auto;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
}

footer>a {
      color: white;
      text-decoration: none;
      line-height: 1em;
      padding: 2em;

}

footer>a:hover {
      color: gold;
      text-decoration: wavy;
}

footer>a:visited {
      text-decoration: none;
}

.iconFooter {
      height: 40px;
}